@model ProjektZespolowy.Models.Costs

@{
    ViewData["Title"] = "Finanse - Koszta - Dodaj";
}

<div class="container mt-4">
    <h1 class="text-center text-success mb-4">Koszty Prowadzenia Działalności</h1>

    <div class="card shadow-sm border-success">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Formularz tworzenia nowego kosztu</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="Costs" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Cost" class="control-label">Kwota</label>
                    <input asp-for="Cost" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Period" class="control-label">Data Płatności</label>
                    <input asp-for="Period" class="form-control" />
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Zapisz</button>
                    <a asp-action="Index" asp-controller="Costs" class="btn btn-secondary">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Informacja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="alertModalMessage"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
