ProjektZespolowy/*.swp
ProjektZespolowy/*.*~
ProjektZespolowy/project.lock.json
ProjektZespolowy/.DS_Store
ProjektZespolowy/*.pyc
ProjektZespolowy/nupkg/

# Visual Studio Code
ProjektZespolowy/.vscode

# Rider
ProjektZespolowy/.idea

# User-specific files
ProjektZespolowy/*.suo
ProjektZespolowy/*.user
ProjektZespolowy/*.userosscache
ProjektZespolowy/*.sln.docstates

# Build results
ProjektZespolowy/[Dd]ebug/
ProjektZespolowy/[Dd]ebugPublic/
ProjektZespolowy/[Rr]elease/
ProjektZespolowy/[Rr]eleases/
ProjektZespolowy/x64/
ProjektZespolowy/x86/
ProjektZespolowy/build/
ProjektZespolowy/bld/
ProjektZespolowy/[Bb]in/
ProjektZespolowy/[Oo]bj/
ProjektZespolowy/[Oo]ut/
ProjektZespolowy/msbuild.log
ProjektZespolowy/msbuild.err
ProjektZespolowy/msbuild.wrn

# Visual Studio 2015
ProjektZespolowy/.vs/