@model ProjektZespolowy.Models.FinancialReport

@{
    ViewData["Title"] = "Edycja Raportu Finansowego";
}

<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm border-primary">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Formularz edycji raportu</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" asp-controller="FinancialReports" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CreationDate" class="control-label">Data Wygenerowania</label>
                    <input asp-for="CreationDate" class="form-control" />
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Zapisz</button>
                    <a asp-action="Index" asp-controller="FinancialReports" class="btn btn-secondary">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
